.about {
    width: 100%;
    padding-top: 125px;
    padding-bottom: 145px;
    background-color: #FFF5F6;
    position: relative;

}


.about-title {
    color: var(--title-first--);
    @include font( 'Titan One', 18px, 400, normal);
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 15px;
    @media screen and (min-width: 768px) {
            @include font('Titan One', 26px, 400, normal);
        }
    @media screen and (min-width: 1280px) {
        @include font('Titan One', 30px, 400, normal);
        letter-spacing: 1.2px;
        }

}

.about-title-second {
    color: var(--title-second--);
    @include font( 'Titan One', 34px, 400, normal);
        text-align: center;
        letter-spacing: 1.36px;
        text-transform: uppercase;
        margin-bottom: 26px;
}

.about-back {
        background-image: url(/images/milk-about-1x.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: left bottom 659px;   
        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: url(/images/milk-about-2x.png);
        }
    
        @media screen and (min-width: 768px) {
            background-image: none;
        }
    
        @media screen and (min-width: 1280px) {
            background-size: 1280px;
            background-position: left top 209px;
            background-image: url(/images/images-desktop/about-milk-desc.png);
    
            @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
                background-image: url(/images/images-desktop/about-milk-desc-2x.png);
            }
        }
}

.about-top-wrap {
    @media screen and (min-width: 768px) {
            display: flex;
            align-items: center;
            justify-content: center;
        }
}

.about-image {
    width: 100%;
    margin-bottom: 23px;
        background-repeat: no-repeat;
            background-size: contain;
        @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
                background-image: url(../images/cow-mob-2x.png);
            }
    @media screen and (min-width: 768px) {
        width: 340px;
        height: 339px;
        margin: 0;
    }
    @media screen and (min-width: 1280px) {
        width: 516px;
        height: 516px;
        // margin-left: 98px;
        margin-right: 37px;
        margin-top: 55px;
        @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
                background-image: url(../images/images-desktop/about-cow-desc-2x.png);
            }
    }
}

.about-text-wrap {
    margin-top: 23px;
    padding-left: 35px;
    padding-right: 35px;
    @media screen and (min-width: 1280px) {
        margin-left: 37px;
        margin-right: 102px;
        width: 463px;
    }
}

.about-text {
    color: var(--text-first--);
    @include font('DM Sans', 12px, 500, 1.62);
    margin-bottom: 23px;
    @media screen and (min-width: 768px) {
            @include font('DM Sans', 14px, 500, 1.76);
            letter-spacing: 0.64px;
        }
    @media screen and (min-width: 1280px) {
    @include font('DM Sans', 16px, 500, 1.76);  
            letter-spacing: 0.64px;
            padding-top: 51px;
    }
}

.about-text-second {
    color: var(--text-second--);
    @include font('DM Sans', 12px, 500, 1.62);
    margin-top: 23px;
    margin-bottom: 23px;
    @media screen and (min-width: 768px) {
        @include font('DM Sans', 14px, 500, 1.76);
            letter-spacing: 0.56px;
    }
    @media screen and (min-width: 1280px) {
        @include font('DM Sans', 14px, 500, 1.94);
            letter-spacing: 0.56px;
                padding-top: 35px;
                margin-bottom: 45px;
    }
    }

.about-button {
    margin-top: 23px;
    margin-bottom: 20px;
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: start;
    color: var(--text-btn-pink--);
    @include font('DM Sans', 14px, 700, normal);
    text-align: center;
    background-color: var(--background-white-btn--);
    border-radius: 22px;
    border: unset;
    height: 44px;
    padding-left: 37px;
    padding-right: 37px;
    &:hover, &:focus {
        background-color: var(--back-hover-white--);
    }
    @media screen and (min-width: 768px) {
        @include font('DM Sans', 16px, 700, normal);
        width: 176px;
    }
}

// .about-back-image {
//     position: absolute;
//     left: 0px;
//     top: 700px;
//     width: 100%;
//     height: 133px;

//     @media screen and (min-width: 768px) {
//         display: none;
//     }
//     @media screen and (min-width: 1280px) {
//         display: block;
//         height: 534px;
//         top: 342px;
//         @media (min-device-pixel-ratio: 2),
//             (min-resolution: 192dpi),
//             (min-resolution: 2dppx) {
//                 background-image: url(../images/images-desktop/about-milk-desc-2x.png);
//             }
//     }
// }

.about-list {
    margin-top: 40px;
    justify-content: start;
    align-items: center;
    @media screen and (max-width: 767px) {
        width: 230px;
    }
    @media screen and (min-width: 768px) {
        margin-top: 33px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    @media screen and (min-width: 1280px) {
        margin-top: 20px;
        justify-content: space-around;
    }
}

.about-list-item {
    @media screen and (max-width: 767px) {
        &:not(:last-child) {
            margin-bottom: 46px;
        }
    }
    @media screen and (min-width: 767px) {
        width: 180px;
        }
}

.about-list-img {
    margin: 0;
    margin-bottom: 16px;
}

.about-list-title {
    color: var(--title-second--);
    @include font('Titan One', 36px, 400, normal);
        font-family: "Titan One";
        letter-spacing: 1.44px;
        text-transform: uppercase;
}

.about-list-text {
    color: var(--text-second--);
    @include font('DM Sans', 12px, 700, 1.7);
}