.hero {
    background-color: #FFB8CA;
    overflow: hidden;
}

.hero-wrap {
    position: relative;
    height: 502px;
    @media screen and (min-width: 768px) {
        height: 399px;
    }
    @media screen and (min-width: 1200px) {
        height: 665px;
    }
}

.hero-ellipse {
    width: 346px;
    height: 344px;
    border-radius: 50%;
    background: #FFA5BA;
    z-index: 0;
    position: absolute;
    right: -62px;
    top: 83px;
    @media screen and (min-width: 768px) {
        top: 31px;
        right: 137px;
        width: 324px;
        height: 322px;
    }
    @media screen and (min-width: 1200px) {
        top: 52px;
        right: 267px;
        width: 538px;
        height: 538px;
    }
}



.hero-img {
    position: absolute;
    z-index: 1;
    background-color: transparent;
    width: 171px;
    height: 410px;
    top: 92px;
    right: 0px;
    @media screen and (min-width: 768px) {
        width: 143px;
        height: 336px;
        top: 63px;
        right: 247px;
    }
    @media screen and (min-width: 1200px) {
        width: 236px;
        height: 557px;
        top: 108px;
        right: 435px;
    }
}

.hero-title {
    @include font ('Titan one', 26px, 400, normal);
    letter-spacing: 1.04px;
    text-transform: uppercase;
    margin-bottom: 16px;
    color: var(--text-menu--);
    letter-spacing: 1.04px;
    text-transform: uppercase;
    @media screen and (min-width: 768px) {
        @include font ('Titan one', 22px, 400, normal);
            letter-spacing: 0.88px;
    }
    @media screen and (min-width: 1200px) {
            @include font ('Titan one', 38px, 400, normal);
            letter-spacing: 1.52px;
        }
}

.hero-title-item {
    @include font ('Titan one', 48px, 400, 0.96);
    color: var(--text-menu-second--);
    text-transform: uppercase;
    @media screen and (min-width: 768px) {
        @include font ('Titan one', 34px, 400, 0.9);
    }
    @media screen and (min-width: 1200px) {
        @include font ('Titan one', 58px, 400, 0.9);
        letter-spacing: 2.32px;
    }
}

.hero-button {
    position: absolute;
    margin-top: 193px;
    padding-left: 20px;
    z-index: 5;
    margin-bottom: 160px;
    @media screen and (min-width: 768px) {
        margin-bottom: 19px;
        margin-top: 102px;
    }
    @media screen and (min-width: 1200px) {
        margin-bottom: 56px;
        margin-top: 171px;
        padding-left: 85px;
    }
}

.hero-button-list {
    display: flex;
    align-items: center;
    justify-content: start;
}

.hero-button-left {
    margin-right: 9px;
    background-color: #D41443;
    padding: 9px 16px;
    justify-content: center;
    border-radius: 16px;
    border: transparent;
    color: var(--text-menu--);
    text-align: center;
    font-family: DM Sans;
    font-size: 8px;
    font-weight: 600;
    line-height: normal;

    &:hover, &:focus {
        background-color: var(--back-hover-pink--);
    }
}

.hero-button-right {
    background-color: #FFF;
    padding: 9px 16px;
    justify-content: center;
    align-items: center;
    color: var(--text-menu-second--);
    text-align: center;
    font-family: DM Sans;
    font-size: 8px;
    font-weight: 600;
    line-height: normal;
    border-radius: 16px;
    border: transparent;
    &:hover, &:focus {
        background-color: var(--back-hover-white--);
    }
}

.hero-milk {
    display: none;
    @media screen and (min-width: 768px) {
    vertical-align: top;
    margin-bottom: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    }
    @media screen and (min-width: 1200px) {
        margin-top: 56px;
        margin-left: -38px;
    }
}

.hero-milk-img {
    width: 124px;
    height: 126px;
    @media screen and (min-width: 1200px) {
        // position: absolute;
        width: 188px;
        height: 191px;
        left: 77px;
        bottom: 45px;
    }
}

.hero-milk-text {
    @include font ( 'DM Sans', 8px, 400, 1.5);
    color: #FFF;
    position: relative;
    width: 114px;

    @media screen and (min-width: 1200px) {
        @include font ('DM Sans', 14px, 400, 1.4);
        width: 200px;
        bottom: 20px;
    }
}

.milk-button {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #FFF;
    border: unset;
    fill: var(--fill--);
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 34px;
    left: 144px;
    @media screen and (min-width: 768px) {
        display: flex;
    }

    @media screen and (min-width: 1200px) {
        left: 238px;
        bottom: 56px;
    }

    &:hover {
        fill: #FFF;
        background-color: var(--back-hover-pink--);
        transform: scale(1.3);
    }
}

.hero-girl {
    display: none;
    position: absolute;
    right: 54px;
    top: 266px;
    z-index: 1;
    width: 168px;
    height: 133px;
    @media screen and (min-width: 768px) {
        display: block;
    }
    @media screen and (min-width: 1200px) {
        width: 293px;
        height: 232px;
        top: 433px;
        right: 94px;
    }
}

.hero-number-list {
    @media screen and (max-width: 767px) {
        display: none;
    }
}

.hero-number-item {
    position: absolute;
    z-index: 1;
    top: 116px;
    right: 0px;
    @media screen and (min-width: 1200px) {
        top: 160px;
        right: 100px;
    }
}

.hero-number-item {
    min-width: 50px;
    &:last-child {
        top: 172px;
    }

    @media screen and (min-width: 1200px) {
        &:last-child {
            top: 251px;
        }
    }
}

.hero-number-title {
    position: relative;
    z-index: 1;
    display: block;
    color: var(--text-menu-second--);
    @include font( 'Titan One', 28px, 400, normal);
        text-align: right;
        letter-spacing: 1.12px;
        text-transform: uppercase;
}



.number-text-top {
    position: absolute;
    z-index: 1;
    bottom: -8px;
    right: 2px;
    color: #FFF;
    @include font( 'DM Sans', 8px, 400, normal);
        text-align: right;
        line-height: normal;
}

.number-text-bottom {
    position: absolute;
    bottom: -10px;
    right: 2px;
    color: #FFF;
    @include font('DM Sans', 8px, 400, normal);
    text-align: right;
    line-height: normal;
    z-index: 1;
}

.hero-number-circle {
    position: absolute;
    z-index: 2;
        top: -5px;
        right: -5px;
        height: 16px;
        width: 16px;
        border-radius: 50%;
        background-color: #fff;
        z-index: 0;
        transform-origin: 35%;
        animation: rotatingCircle 3s linear infinite;
}

